@import "tailwindcss";
@plugin "daisyui";

.rating-star {
  color: #b4690e;
}

.bestseller-badge {
  @apply bg-secondary text-secondary-content text-xs font-bold px-2 py-1 rounded;
}

.price-current {
  @apply text-2xl font-bold text-neutral;
}

.price-original {
  @apply line-through text-gray-500 ml-2;
}

.price-discount {
  @apply text-accent font-bold;
}
